body {
    background-color: black; 
    color: white;
    text-align: center;
}
.container{
    width:50%;
    display: inline-block;
    margin: auto;
    background-color: black;

    border: 5px solid white;
    border-radius: 14px;
    padding: 5px;

}
.Data{
    width:50%;
    display: inline-block;
    margin: auto;
    background-color: black;

    border: 5px solid white;
    border-radius: 14px;
    padding: 5px;
    margin-top: 10px;

}

