body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #F8F0E3;
    overflow-x: hidden;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F0E3;
    padding: 15px 20px;
    flex-wrap: wrap;
}

.navbar .socials ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar .socials ul li {
    list-style: none;
    margin-right: 15px;
}

.navbar .socials ul li a img {
    width: 30px;
    height: 30px;
    mix-blend-mode: multiply;
    flex: 1 1 auto;
}

.navbar .socials ul li a img:hover {
    transform: scale(1.2);
}

.navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
}

.bio,
.skills {
    max-width: 60%;
    margin: 40px auto;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education,
.experience {
    width: 50%;
    margin: auto;
    padding: 40px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.education-experience-container {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    padding: 50px;
    max-width: 80%;
    border-radius: 10px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    color: #333;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.skills ul li {
    list-style: none;
    margin: 10px;
}

.skills ul li img {
    width: 75px;
    height: 75px;
    mix-blend-mode: multiply;
    flex: 1 1 auto;
}

.skills ul li img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .navbar .socials ul li {
        display: none;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar ul li {
        text-align: center;
        margin: 10px 0;
    }

    .bio,
    .skills {
        max-width: 90%;
        margin: 20px auto;
        padding: 15px;
    }

    .education,
    .experience {
        width: 100%;
        margin: 20px 0;
        padding: 20px;
    }

    .education-experience-container {
        flex-direction: column;
        padding: 20px;
        max-width: 90%;
    }

    h1 {
        font-size: 2em;
        margin-top: 10px;
    }

    h2 {
        font-size: 1.5em;
    }

    .skills ul li img {
        width: 50px;
        height: 50px;
    }
}